@{
    ViewBag.Title = "Home";
}
<style>
    .logo-center {
        margin-top: 110px;
    }
</style>
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h2 class="logo-name logo-center">FAMS</h2>
        </div>
    </div>
</div>
