@{
    ViewBag.Title = "Receive Deliveries";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Receive Deliveries</h5>
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Search By</label>
                        
                        <div class="col-sm-8">
                            <div class="input-group m-b">
                                <div class="input-group-prepend">
                                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">PO Number </button>
                                    <ul class="dropdown-menu">
                                        @*<li><a class="dropdown-item" href="#">PO Number</a></li>*@
                                        <li><a class="dropdown-item" href="#">Purchase Date</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
