@{
    ViewBag.Title = "Evaluation";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2>Evaluation</h2>
        
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Main", "Home")">Home</a>
            </li>
            @*<li class="breadcrumb-item">
                    <a>Forms</a>
                </li>*@
            <li class="active breadcrumb-item">
                <strong>Evaluation</strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2"></div>
</div>